<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      自习室
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>已经学习时间</ion-col>
      <ion-col>已经休息时间</ion-col>
    </ion-row>
    <ion-row class="time">
      {{counterMin < 10 ? '0' + counterMin : counterMin}}:{{counterSec < 10 ? '0' + counterSec : counterSec}}
    </ion-row>
    <ion-row class='btn'>
      <ion-col size='2'>
        <ion-icon class='commonBtn' name='play' color='primary' *ngIf="!playStatus" (click)="changePlayStatus()" ></ion-icon>
        <ion-icon name='pause' class='commonBtn' color='danger' *ngIf="playStatus" (click)="changePlayStatus()"></ion-icon>
      </ion-col>
      <ion-col size='2'>
        <ion-icon name='square' class='commonBtn' color='primary' (click)="stopPlay()" ></ion-icon>
      </ion-col>
      <ion-col size='2'>
        <ion-button expand='fill'>打卡</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    打卡记录
  </ion-toolbar>
</ion-footer>