ion-content ion-toolbar {
  --background: translucent;
}

.time {
  display: flex;
  justify-content: center;
  margin: 66px 0 40px;
  font-size: 32px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.commonBtn {
  font-size: 25px;
}