<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>
        登录个人中心
      </ion-title>
      <ion-button slot="end" color='primary'>帮助</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!phoneLogin" >
  <h1>请输入帐号密码</h1>
  <ion-item>
    <ion-input type='text' placeholder='手机号或邮箱'></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type='password' placeholder='请输入登录密码'></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-button class="btn loginbtn" fill='clear'>登录</ion-button>
    </ion-row>
    <ion-row>
      <ion-button class="btn loginbtn2" fill='clear' (click)="changePhoneLogin()" >用短信验证码登录</ion-button>
    </ion-row>
    <ion-row class="right">
      <ion-button fill='clear' color='primary'>忘记密码</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="phoneLogin">
  <ion-grid>
    <ion-row class="phoneHeader">
      <ion-icon name="walk"></ion-icon>
      <span>发现美好生活</span>
    </ion-row>
    <ion-row class="phone">
      <ion-select value="0" interface='popover' okText="确定" cancelText="取消">
        <ion-select-option value="0">+86</ion-select-option>
        <ion-select-option value="1">+87</ion-select-option>
        <ion-select-option value="2">+88</ion-select-option>
      </ion-select>
      <ion-input type='text' placeholder='输入手机号'></ion-input>
    </ion-row>
    <ion-row>
      <ion-button class="btn loginbtn" fill='clear'>获取验证码</ion-button>
    </ion-row>
    <ion-row>
      <ion-button class="btn loginbtn2" fill='clear' (click)="changePhoneLogin()" >用帐号密码登录</ion-button>
    </ion-row>
    <ion-row class="right">
      <ion-button fill='clear' color='primary'>手机号已更换</ion-button>
    </ion-row>
  </ion-grid>
</ion-content> 

<ion-footer>
  <div class="flex">
    <span class="line"></span>
    <span class="text">其他登录方式</span>
    <span class="line"></span>
  </div>
  <ion-grid>
    <ion-row  class="center">
      <ion-col size='3'><ion-icon name="chatbubbles-sharp"></ion-icon></ion-col>
      <ion-col size='3'><ion-icon name="logo-tux"></ion-icon></ion-col>
    </ion-row>
    <ion-row class='center'>
      登录注册表示同意<a>用户协议、隐私条款</a>
    </ion-row>
  </ion-grid>
</ion-footer>
